body {
	font-family: sans-serif;
}

h1 {
	color: DarkBlue;
	text-decoration: underline;
}

h2 {
	color: RoyalBlue;
}

.row {
	margin: 1%;	
}

.row .col-6 {
	width: 50%;
	float: left;
}

.panel {
	border: solid 1px LightGrey;
	box-shadow: 1px 1px 1px 1px LightGrey;
	margin: 1%;
	padding: 2%;
	border-radius: 5px;
}

form .field {
	margin: 2% 1%;
}

form .field label {
	display: inline-block;
	width: 35%;
}

form .actions {
	text-align: right;
	border-top: solid 1px LightGrey;
	padding: 2px;
}
